<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="pager(dispList)">
		<nav th:if="${not #lists.isEmpty(dispList)}" style="float: right;">
			<ul class="pagination">
				<li><a href="#">&laquo;</a></li>

				<li><a th:if="${not isFirstPage}" href="javascript:void(0);"
					th:attr="data-bind=${pageNum-1}+'-'+${pageSize}">上一页</a> <a
					th:if="${isFirstPagee}" href="javascript:void(0);" data-bind="">上一页</a>
				</li>

				<li th:each="pageNo : ${#numbers.sequence(1, totalPages)}"><a
					th:if="${pageNum eq pageNo}" href="javascript:void(0);"
					data-bind=""> <span th:text="${pageNo}"></span>
				</a> <a th:if="${not (pageNum eq pageNo)}" href="javascript:void(0);"
					th:attr="data-bind=${pageNo}+'-'+${pageSize}"> <span
						th:text="${pageNo}"></span>
				</a></li>
				<li><a th:if="${not isLastPage}" href="javascript:void(0);"
					th:attr="data-bind=${pageNum+1}+'-'+${pageSize}">下一页</a> <a
					th:if="${isLastPage}" href="javascript:void(0);" data-bind="">下一页</a>
				</li>

				<li><a href="#">&raquo;</a></li>
			</ul>
		</nav>
	</th:block>
</body>
</html>