<!DOCTYPE html>
<html>
<head th:include="/thymeleaf/common/_head2::headx('销售合同')">
<meta charset="UTF-8">
</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-sm-offset-2 col-md-8 column">
				<p style="text-align: center">
					<b><span style="font-size: 32px; font-family: 黑体; color: black">销售合同</span></b>
				</p>
				<p style="text-align:right;">
					<span style="font-family: 宋体;">
						合同编号：<span th:text="${contract.contractNo}">LM-XS-17-05-046</span>合同签订地点：<span>石家庄</span>
					</span>
				</p>
				<p style="text-indent: 28px; line-height: normal">
					<span style="font-size: 14px; font-family: 宋体">按照《中华人民共和国合同法》及有关法规规定，经双方协商一致，就甲方从乙方采购设备一事达成如下合同条款，双方共同严格履行。</span>
				</p>
				<p>
					<b><span>1</span></b><b><span style="font-family: 宋体">、合同双方</span></b>
				</p>
				<p style="text-indent: 7px">
					<span style="font-family: 宋体;display:inline-block;width:350px;">甲方：<u th:text="${agent.companyName}" >甲方（代理商一方）</u></span>
					<span style="font-family: 宋体;">乙方：<u th:text="${companyInfo.companyName}" >河北菱美信息技术有限公司</u></span>
				</p>
				<p style="text-indent: 7px">
					<span style="display:inline-block;width:350px;">
						<span style="font-family: 宋体">联系人：</span>
						<span th:text=${agent.artificialPersonName}></span>
						
						<span style="font-family: 宋体;margin-left:10px;">电话：</span>
						<span th:text="${agent.contactPhone}"></span>					
					</span>
					
					<span style="font-family: 宋体">联系人：</span>
					<span th:text="${companyInfo.contactMan}"></span>
					<span style="font-family: 宋体">电话：</span>
					<span th:text="${companyInfo.tel}">电话号码</span>
				</p>
				<p>
					<b><span>2</span></b><b><span style="font-family: 宋体">、产品的名称、规格、数量及价格</span><span>(</span></b><b><span
						style="font-family: 宋体">人民币：元</span><span>)</span></b>
				</p>
				<table
					style="width: 626px; margin-left: 24px; border-collapse: collapse; border: none"
					border="1" width="626">
					<tbody>
						<tr>
							<td
								style="width: 43px; border: solid windowtext 1px; padding: 0 7px 0 7px"
								width="43"><p style="text-align: center">
									<span style="font-family: 宋体">序号</span>
								</p></td>
							<td
								style="width: 73px; border: solid windowtext 1px; border-left: none; padding: 0 7px 0 7px"
								width="73"><p style="text-align: center">
									<span style="font-family: 宋体">名称</span>
								</p></td>
							<td
								style="width: 54px; border: solid windowtext 1px; border-left: none; padding: 0 7px 0 7px"
								width="54"><p style="text-align: center">
									<span style="font-family: 宋体">品牌</span>
								</p></td>
							<td
								style="width: 78px; border: solid windowtext 1px; border-left: none; padding: 0 7px 0 7px"
								width="78"><p style="text-align: center">
									<span style="font-family: 宋体">型号</span>
								</p></td>
							<td
								style="width: 200px; border: solid windowtext 1px; border-left: none; padding: 0 7px 0 7px"
								width="200"><p style="text-align: center">
									<span style="font-family: 宋体">基本参数</span>
								</p></td>
							<!-- <td
								style="width: 59px; border: solid windowtext 1px; border-left: none; padding: 0 7px 0 7px"
								width="59"><p style="text-align: center">
									<span style="font-family: 宋体">网示单价</span>
								</p></td>
							<td
								style="width: 57px; border: solid windowtext 1px; border-left: none; padding: 0 7px 0 7px"
								width="57"><p style="text-align: center">
									<span style="font-family: 宋体">折减</span>
								</p></td> -->
							<td
								style="width: 57px; border: solid windowtext 1px; border-left: none; padding: 0 7px 0 7px"
								width="57"><p style="text-align: center">
									<span style="font-family: 宋体">成交单价</span>
								</p></td>
							<td
								style="width: 25px; border: solid windowtext 1px; border-left: none; padding: 0 7px 0 7px"
								width="38"><p style="text-align: center">
									<span style="font-family: 宋体">数量</span>
								</p></td>
							<td
								style="width: 50px; border: solid windowtext 1px; border-left: none; padding: 0 7px 0 7px"
								width="76"><p style="text-align: center">
									<span style="font-family: 宋体">合计</span>  
								</p></td>
						</tr>
						
						 <tr th:each="contractItem,iterState:${contractItemList}">
							<td
								style="width: 43px; border: solid windowtext 1px; border-top: none; padding: 0 7px 0 7px"
								width="43" valign="top"><p style="text-align: center">
									<span style="font-family: 'Calibri', sans-serif" th:text="${iterState.count}" >序号</span>
								</p></td>
							
							<td
								style="width: 73px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="73" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text="${contractItem.sku_name}">&nbsp;</span>
								</p></td>
								
							<!-- 品牌  -->
							<td
								style="width: 54px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="54" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text="${contractItem.brand_name}">&nbsp;</span>
								</p></td>
							<!-- 型号 -->
							<td
								style="width: 78px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="78" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text="${contractItem.model}" >&nbsp;</span>
								</p></td>
							<!-- 参数 -->
							<td
								style="width: 200px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="200" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text="${contractItem.parms}">&nbsp;</span>
								</p></td>
							<!-- 网示单价 -->
							<!-- <td
								style="width: 59px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="59" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text="${contractItem.primitive_price}">&nbsp;</span>
								</p></td> -->
							<!-- 折减 -->
							<!-- <td
								style="width: 57px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="57" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text="${contractItem.discount_price}">&nbsp;</span>
								</p></td> -->
							<!-- 成交单价 -->
							<td
								style="width: 57px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="57" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text="${contractItem.pay_price}">&nbsp;</span>
								</p></td>
							<!-- 数量 -->
							<td
								style="width: 25px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="38" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text="${contractItem.num}">&nbsp;</span>
								</p></td>
							<!-- 小计 -->
							<td
								style="width: 50px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="76" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text=${contractItem.pay_price_total}>&nbsp;</span>
								</p></td>
								 
						</tr>
						<tr>
							<td
								style="width: 43px; border: solid windowtext 1px; border-top: none; padding: 0 7px 0 7px"
								width="43" valign="top"><p>
									<span style="font-family: 宋体">实付</span>
								</p></td>
							<td colspan="6"
								style="width: 507px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="507" valign="top"><p>
									<span style="font-family: 宋体" th:text="'大写：'+${contractItemTotalCN}">大写：</span>
								</p></td>
							<td
								style="width: 50px; border-top: none; border-left: none; border-bottom: solid windowtext 1px; border-right: solid windowtext 1px; padding: 0 7px 0 7px"
								width="76" valign="top"><p>
									<span style="font-family: 'Calibri', sans-serif" th:text="${contractItemTotal}">&nbsp;</span>
								</p></td>
						</tr>
					</tbody>
				</table>
				<p>
					<b><span>&nbsp;</span></b>
				</p>
				<p>
					<b><span>3</span></b><b><span style="font-family: 宋体">、产品技术标准和质量要求</span></b>
				</p>
				<p style="text-indent: 21px">
					<span>3.1</span><span style="font-family: 宋体">所有设备均应符合产品外包装标识的技术标准，交货之前不得开封</span>
				</p>
				<p style="text-indent: 21px">
					<span>3.2</span><span style="font-family: 宋体">产品质保期：</span>
						<span th:switch="${attrValue.guarantee_period}"  th:remove="tag">
						 	<u th:case='1'><span style="font-family: 宋体">☑原厂标准质保；</span></u>
						 	<!-- <u th:case='*'><span style="font-family: 宋体">□原厂标准质保；</span></u> -->
						</span>
						<span th:switch="${attrValue.guarantee_period}"  th:remove="tag">
						 	<u th:case='2'><span style="font-family: 宋体">☑用户特殊质保；</span><span th:text="${attrValue.user_guarantee_item}"></span></u>
						 	<!-- <u th:case='*'><span style="font-family: 宋体">□用户特殊质保；</span></u> -->
						</span>
				</p>
				<p>
					<b><span>4</span></b><b><span style="font-family: 宋体">、产品的交货时间、地点</span></b>
				</p>
				<p style="text-indent: 21px">
					<span>4.1</span><span><span style="font-family: 宋体">时</span><span><span>&nbsp;&nbsp;&nbsp;
						</span></span></span><span><span style="font-family: 宋体">间：<u th:text="${attrValue.delivery_time}" >选择时钟，自动生成</u></span><u></u></span>
				</p>
				<p style="text-indent: 21px">
					<span><span>4.2</span></span><span><span
						style="font-family: 宋体">交货地点：</span></span><u><span><span>&nbsp;&nbsp;&nbsp;
						</span></span></u><u><span style="font-family: 宋体" th:text="${attrValue.delivery_address}">手工录入</span><span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span></u>
				</p>
				<p style="text-indent: 21px">
					<span>4.3</span><span style="font-family: 宋体">运输方式及费用负担：</span><u>
					</u><u><span style="font-family: 宋体" th:text="${attrValue.transport_charge}">手工录入</span><span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span></u>
				</p>
				<p>
					<b><span>5</span></b><b><span style="font-family: 宋体">、付款方式及期限</span></b>
				</p>
				<p style="text-indent: 21px">
					<span>5.1</span>
					<span>
						<span th:switch="${attrValue.pay_type}"  th:remove="tag">
						 	<span th:case='1' style="font-family: 宋体">☑<span><span	style="font-family: 宋体">合同签订后甲方支付合同金额的<u><span><span th:text="${attrValue.payment_percent_signed}">&nbsp;&nbsp;
								</span >%</span></u>（即<span><span th:text="${attrValue.payment_amount_signed}">&nbsp;&nbsp; </span></span>元）。
								发货前，甲方支付合同金额的<u><span><span th:text="${attrValue.payment_percent_delivery}">&nbsp;&nbsp;
								</span >%</span></u>（即<span><span th:text="${attrValue.payment_amount_delivery}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>元）。
								
								<span th:if="${attrValue.balance_amount} neq '0.00'" th:remove="tag">									
									<span>
										余额<u><span th:text="${attrValue.balance_amount}"></span></u>元，需在<u><span th:text="${attrValue.balance_date}" >年&nbsp;&nbsp;月&nbsp;&nbsp;日</span></u>前付清。
									</span>
								</span>
								
							</span></span></span>
						 	<span th:case='2' style="font-family: 宋体"><span style="text-indent: 19px">
								<span><span style="font-family: 宋体">
									<span th:switch="${attrValue.pay_type}"  th:remove="tag">
									 	<span th:case='2' style="font-family: 宋体" th:remove="tag">☑合同签订后</span>
									 	<span th:case='*' style="font-family: 宋体" th:remove="tag">□合同签订后</span>
									</span>
								<u><span><span th:text="${attrValue.days_signed}">&nbsp;
											</span></span></u>日即<u><span><span th:text="${attrValue.date_signed}" class="cndate">&nbsp; </span></span>前</u>甲方支付给乙方全部货款，每延期一日按照欠款金额的<u th:text="${attrValue.fee_rate}">万分之五</u>收取资金占用费。
								</span></span>
								</span>
							</span>
						</span>
						
					</span>
					
				</p>
				<p style="text-indent: 25px">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family: 宋体">全款到账后，乙方开具等额<u><span><span th:text="${attrValue.voucher}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</span></span></u>给甲方。
					</span></span>
				</p>
				<p style="text-indent: 19px">
					<span><span>5.2</span></span><span><span
						style="font-family: 宋体">乙方收款账户：<u th:text="${companyInfo.companyName}">河北菱美信息技术有限公司</u>，开户行：<u th:text="${companyInfo.bankName}">中信石家庄体育北大街支行</u><span
							style="color: black">，</span></span><span style="color: black"><span>&nbsp;&nbsp;&nbsp;</span></span></span><span><span
						style="font-family: 宋体; color: black">账号：</span><u><span th:text="${companyInfo.bankAccount}">7241510182600080029</span></u></span>
				</p>
				<p style="text-indent: 21px">
					<span><span>5.3</span></span><span><span
						style="font-family: 宋体">按国家标准和随机装箱清单，货到</span><span>7</span></span><span><span
						style="font-family: 宋体">日内甲方应积极组织验收，如有质量问题应提出书面异议，乙方应当在收到甲方书面通知后与制造厂商协调调换或者维修货物。收货时，甲方应</span></span><span><b><span
							style="font-size: 16px; font-family: 宋体">开箱</span></b></span><span><span
						style="font-family: 宋体">仔细验收，并与送货物流核对机器数量配置，外包装箱是否有损坏，因甲方验收原因导致的货物硬件损伤，货物丢失等问题，乙方不予负责。</span></span>
				</p>
				<p>
					<span><b><span>6</span></b></span><span><b><span
							style="font-family: 宋体">、违约责任</span></b></span><b><span
						style="font-family: 宋体">及纠纷解决</span></b>
				</p>
				<p style="text-indent: 21px">
					<span>6.1</span><span style="font-family: 宋体">以上合同货款在甲方未结清乙方之前，本合同内的所有货物所有权归乙方所有。</span>
				</p>
				<p style="text-indent: 21px">
					<span>6.2</span><span style="font-family: 宋体">因执行本合同所发生的或与本合同有关的一切争议，合同各方应通过友好协商解决；如果协商不能解决的，双方约定通过乙方所在地人民法院解决纠纷。</span>
				</p>
				<p>
					<b><span>7</span></b><b><span style="font-family: 宋体">、</span></b><span
						style="font-family: 宋体">合同执行期内，甲乙双方均不得随意变更或解除合同，本合同如有未尽事宜，须经双方共同协商解决，另行签订补充协议。</span>
				</p>
				<p>
					<b><span>8</span></b><b><span style="font-family: 宋体">、</span></b><span
						style="font-family: 宋体">本合同壹式贰份，甲乙双方各执壹份，自合同双方授权代表签字盖章之日起生效。（传真件有效）</span>
				</p>
				<p>
					<span>&nbsp;</span>
				</p>
				<p style="margin-left: 14px">
					<span style="font-family: 宋体 ;width:350px;display:inline-block">甲方：（盖章）<span style="font-family: 宋体" th:text="${agent.companyName}">乙方公司名称</span></span>
					<span style="font-family: 宋体">乙方：（盖章）<span th:text=${companyInfo.companyName}>河北菱美信息技术有限公司</span></span>
				</p>
				<p style="margin-left: 14px">
					<span style="font-family: 宋体;width:350px;display:inline-block">授权人：<span th:text=${agent.artificialPersonName}></span></span>
					<span style="font-family: 宋体">授权人：<span th:text="${companyInfo.contactMan}"></span></span>
				</p>
				<p style="margin-left: 14px">
					<span style="font-family: 宋体;width:350px;display:inline-block">
						日期：<!-- <span th:text="${#calendars.format(now,'yyyy-MM-dd')}" class="cndate">2017年10月10日 </span> -->
						<span th:text="${attrValue.contract_signed_date}" class="cndate">2017年10月10日 </span>
					</span>					 
					<span style="font-family: 宋体">
						日期：<!-- <span th:text="${#calendars.format(now,'yyyy-MM-dd')}"  class="cndate">2017年10月10日 </span> -->
						<span th:text="${attrValue.contract_signed_date}" class="cndate">2017年10月10日 </span>
					</span>
				</p>
				<p style="margin-left: 14px">
					<span>&nbsp;</span>
				</p>
				<p style="margin-left: 14px">
					<span><span>&nbsp;</span></span>
				</p>
			</div>
		</div>
	</div>

	<script th:src="@{/static/js/common/dateutil.js}"></script>
	<script type="text/javascript">
	
	$(function(){
		//将2017-07-21格式时间转换为2017年07月21日格式
		$(".cndate").each(function(){
			var oldFmtDate=$(this).text();
			if(oldFmtDate=="" || oldFmtDate==null){
				$(this).html("&nbsp;年&nbsp;月&nbsp;日");
			}else{
				
				var cnFmtDate=getCNFormatDate(oldFmtDate);
				$(this).text(cnFmtDate);	
			}
			
		});
		
	});
	</script>

</body>
</html>