<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="/thymeleaf/common/_head2::headx('签约客户维护')" th:remove="tag"></div>
<!-- local style -->
<style>

</style>

</head>
<body>
	<!-- header -->
	<!-- <div th:replace="thymeleaf/common/_header::header" class="header"></div> -->
	<!-- content -->
	<div class="container">
		<!-- 分配帐号对话框 -->
		<div th:replace="thymeleaf/common/_dispatch_account_dialog::dialog" class="header"></div>
		
		<!-- 签约客户列表 -->
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h3>签约客户维护</h3>
				<hr>
				<table class="table">
					<thead>
						<tr>
							<th>企业名称</th>
							<th>企业负责人</th>
							<th>手机号码</th>
							<th>帐号</th>
							<th>状态</th>
							<th>有效性</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="agent:${userAgents}">
							<td th:text="${agent.companyName}">北京XXX科技有限责任公司</td>
							<td th:text="${agent.artificialPersonName}">张XX</td>
							<td th:text="${agent.contactPhone}">138xxxxxxxx</td>
							<span th:switch="${agent.userId}" th:remove="tag">
								<td th:case="0">未分配</td>
								<td th:case="*">已分配</td>
							</span>
							<span th:switch="${agent.accountState}" th:remove="tag">
								<td th:case="'1'">有效</td>
								<td th:case="'2'">无效</td>
							</span>
							
							<td>
								<button type="button" th:attr="data-bind=${agent.extendId}" class="btn btn-primary set-valid">有效</button>
								<button type="button" th:attr="data-bind=${agent.extendId}" class="btn btn-primary set-invalid">无效</button>
							</td>
							<td>
								<a type="button"  th:href="@{/back/agent/detail/{id}(id=${agent.extendId})}" target="_blank"  th:attr="data-bind=${agent.extendId}"  class="btn btn-primary show-detail">详情</a>
								<button type="button" th:attr="data-bind=${agent.extendId},data-company-name=${agent.companyName},data-contact-phone=${agent.contactPhone},data-artificialPersonName=${agent.artificialPersonName}"  class="btn btn-primary dispatch-account">分配帐号</button>
							</td>

						</tr>
						
					</tbody>
				</table>
				<!-- 加入 分页 -->
				<div class="row clearfix">
					<div th:include="/thymeleaf/common/_pager::pager(userAgents)" class="pagerx"  style="float:right; margin-right:100px;"></div>
				</div>
				<div class="row clearfix"><hr></div>
				<div class="row clearfix">					
					<div class="col-md-12 column">
						<a th:href="@{/back/agent/add}" class="btn btn-primary"  target="_blank"  style="float:right;margin-right:100px;">增加</a>
						<a th:href="@{/back/agent/show}" class="btn btn-primary"  style="float:right;margin-right:10px" >刷新</a>
					</div>
				</div>		
				
			</div>
		</div>
		
		<!-- 当用户点击查询条件时，采用些隐藏表单提交 -->
		<form th:action="@{/back/agent/show}" method="post"	id="searchform">			
			<!-- 保存页号与页大小 -->
			<input type="hidden" name="pageNum" id="pageNum" value=""> 
			<input type="hidden" name="pageSize" id="pageSize" value="">
			
			<!-- 用户选择的条件列表 -->
			<!-- <input type="hidden" name="searchCond" id="searchCond"	th:value="${searchCond}"> -->
		</form>
		
	</div>
	<!-- footer -->
	<!-- <div th:replace="/thymeleaf/common/_footer::footer" class="footer"></div> -->
	
	<script type="text/javascript" th:src="@{/static/js/user_agent/user_agent_show.js}"></script>	
	
</body>
</html>