<!DOCTYPE html>
<html>
<head th:include="/thymeleaf/common/_head::head('签约客户维护')">
<meta charset="UTF-8">
</head>
<body>
	<div class="container">
		<!-- header -->
		<div th:include="thymeleaf/common/_header::header" class="header"></div>
		<!-- content -->
		<!-- 分配帐号对话框 -->
		<div th:replace="thymeleaf/common/_dispatch_account_dialog::dialog" class="header"></div>
		<!-- 签约客户列表 -->
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h3>签约客户维护</h3>
				<table class="table">
					<thead>
						<tr>
							<th>企业名称</th>
							<th>企业负责人</th>
							<th>手机号码</th>
							<th>帐号</th>
							<th>状态</th>
							<th>有效性</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="agent:${userAgents}">
							<td th:text="${agent.companyName}">北京XXX科技有限责任公司</td>
							<td th:text="${agent.artificialPersonName}">张XX</td>
							<td th:text="${agent.contactPhone}">138xxxxxxxx</td>
							<span th:switch="${agent.userId}" th:remove="tag">
								<td th:case="0">未分配</td>
								<td th:case="*">已分配</td>
							</span>
							<span th:switch="${agent.accountState}" th:remove="tag">
								<td th:case="'1'">有效</td>
								<td th:case="'2'">无效</td>
							</span>
							
							<td>
								<button type="button" th:attr="data-bind=${agent.extendId}" class="btn btn-primary set-valid">有效</button>
								<button type="button" th:attr="data-bind=${agent.extendId}" class="btn btn-primary set-invalid">无效</button>
							</td>
							<td>
								<a type="button"  th:href="@{/back/agent/detail/{id}(id=${agent.extendId})}" target="_blank"  th:attr="data-bind=${agent.extendId}"  class="btn btn-primary show-detail">详情</a>
								<button type="button" th:attr="data-bind=${agent.extendId},data-company-name=${agent.companyName},data-contact-phone=${agent.contactPhone},data-artificialPersonName=${agent.artificialPersonName}"  class="btn btn-primary dispatch-account">分配帐号</button>
							</td>

						</tr>
						
					</tbody>
				</table>
				<div class="row clearfix">
					<div class="col-md-12 column">
						<a th:href="@{/back/agent/add}" class="btn btn-primary"  target="_blank" >增加</a>
					</div>
				</div>
				
				<!-- 加入 分页 -->
				<div th:include="/thymeleaf/common/_pager::pager(userAgents)" class="pagerx"></div>
				
			</div>
		</div>
		
		<!-- footer -->
		<div th:include="/thymeleaf/common/_footer::footer" class="footer"></div>
		
		<!-- 当用户点击查询条件时，采用些隐藏表单提交 -->
		<form th:action="@{/back/agent/show}" method="post"	id="searchform">
			
			<!-- 保存页号与页大小 -->
			<input type="hidden" name="pageNum" id="pageNum" value=""> <input
				type="hidden" name="pageSize" id="pageSize" value="">
	
			<!-- 用户选择的条件列表 -->
			<!-- <input type="hidden" name="searchCond" id="searchCond"
				th:value="${searchCond}"> -->
		</form>
		
	</div>
	
	<script type="text/javascript">
		
	
	
		/*
			查询-签约客户
		 */
		function search_normal() {
			$("#searchform").submit(); //提交表单		
		}
		
		/*
			显示分配帐户窗口
		 */
		function displayWindow() {
			$("#modal-273078").click();
			
		}
		
		/*
			关闭窗口
		*/
		function closeWindow() {
			$("#btnClose").click();
		}
		
	
		$(function(){
			
			/*
				显示【详情】按钮-click
			*/
			$(".show-detail").on("click",function(e){
				
			});
			
			/*
				【分配帐户】按钮				
			*/
			$(".dispatch-account").on("click",function(e){
				displayWindow();
				var agentId=$(this).attr("data-bind");
				var companyName=$(this).attr("data-company-name");
				var contactPhone=$(this).attr("data-contact-phone");
				var artificialPersonName=$(this).attr("data-artificialPersonName");
				
				$("#agentId").val(agentId);
				
				$("#myModalLabel").text("分配帐户("+companyName+ "_"+artificialPersonName+")");
				$("#loginName").val(contactPhone);
			});
			
			
			/*
				【分页】导航：
				当点击页号时读取需要导航到的页码及每页记录数（pageNum,pageSize）
				data-bind:pageNum-pageSize形式
				如果data-bind为空字符串，则不做动作
				当用户点击某页时，则发送与筛选相同的请求
			 */

			$(".pagination li a").on('click', function(e) {
				//alert($(this).attr("data-bind"));
				var dataBind = $(this).attr("data-bind");
				//当dataBind有数据时处理
				if (dataBind != "") {
					var pageArr = new Array();
					pageArr = dataBind.split("-");
					//置隐藏表单数据
					$("#pageNum").val(pageArr[0]);
					$("#pageSize").val(pageArr[1]);
					//发送请求
					search_normal();
				}
	
			});
			
		/*
			签约客户-帐户分配-【确定】按钮处理(AJAX方式)
		 */
		$("#btnDispatch").on("click", function(e) {
			var url = BASE_CONTEXT_PATH + "/back/agent/dispatch"; // 需要提交的 url

			var loginName = $('#loginName').val();
			var password = $('#password').val();
			var agentId=$("#agentId").val();
			
			closeWindow();  //关闭窗口
			
			//设置参数
			/* var params = {	"loginName":loginName,
							"password":password,
							"agentId":agentId
						};
			
			//util.loading();
			//此种方式更加的简洁
			$.post(url, params, function(res){
				console.log(res);
				if(res!=null && res!=""){
					var obj = $.parseJSON(res);
					if(obj.result_code=="success"){
						util.message(obj.result_msg);
					}else{
						util.message(obj.result_err_msg);
					}
				}
				
			}); */
			
			
			
			 $.ajax({
				type : "post", // 提交方式 get/post
				url : url, // 需要提交的 url
				//dataType: "application/json",
				data : {
					'loginName' : loginName,
					'password' : password,
					'agentId' : agentId
				},
				success : function(res) { // data 保存提交后返回的数据，一般为 json 数据
					console.log(res);
					if (res != null && res!="") {
						var obj = $.parseJSON(res);
						if (obj.result_code == "success") {
							util.message(obj.result_msg);
						} else {
							util.message(obj.result_msg);
						}
					}
				}
				/* ,
				error : function(jqXHR, textStatus, errorThrown) {
					//弹出jqXHR对象的信息
					alert(jqXHR.responseText);
					alert(jqXHR.status);
					alert(jqXHR.readyState);
					alert(jqXHR.statusText);
					//弹出其他两个参数的信息
					alert(textStatus);
					alert(errorThrown);
				} */
			}); 

		});
			
			
			
			
		});
	
	</script>
	
	
</body>
</html>