<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
    <title>project</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <script src="iconfont/iconfont.js"></script>
    <script src="js/js.js"></script> -->
    

    
</head>

<body>
    <div class="header">
        <div class="top">
            <nav class="header-wrap">
                <ul class="leftul">
                    <li class="topContent">
                        <div><span class="iconfont">&#xe600;</span>收藏我们</div>
                    </li>
                    <li>
                        <div>联系我们：<span class="iconfont">&#xe613;</span>0311-89912111</div>
                    </li>
                </ul>
                <ul class="centerul">
                    <li class="login">
                        <div><span  th:text="${user} ? ${user.nickname}:'尚未登录'  "></span>您好，欢迎来到菱美在线商城</div>
                        <div id="reg">
                        	<a th:href="${user} ?  @{/front/home/unRegister}:@{/login/agent/gologin}" 
                        	   th:text="${user} ?  '[退出登录]': '[请登录]'" > [请登录]</a></div>
                       	<div>
                       		<a href="javascript:void(0);" style="margin-left:20px;" id="change-password">[修改口令]</a>
                       	</div>
                    </li>
                </ul>
                <ul class="rightul">
                    <li>
                        <div><a th:href="@{/front/personalcenter/favourites}" target="_blank">我的收藏</a></div>
                    </li>
                    <i>|</i>
                    <li>
                        <div><a th:href="@{/front/personalcenter/cart}" target="_blank">我的购物车 <!-- <span class="badge">3</span> --></a></div>
                    </li>
                    <i>|</i>
                    <li>
                        <div><a th:href="@{/front/personalcenter/orders}" target="_blank">我的订单 <!-- <span class="badge">3</span> --></a></div>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="top-banner">
            <div class="banner-img">
                <img th:src="@{/static/images/banner-top.jpg}">
                <!-- <div class="closeAd">X</div> -->
            </div>
        </div>
        <div class="searchLine">
            <div class="logo">
                <!-- <img th:src="@{/static/images/LM.png}"> -->
                <a th:href="@{/front/home/home}"><img th:src="@{/static/images/lingmei.png}" ></a>
            </div>
            <div class="search">
                <div>
                    <!-- <input id="searchbox" type="text">
                    <button id="searchbutton"><span class="icon iconfont">&#xe630;</span></button> -->
                    <form  target="_blank"  method="get" id="searchform" role="search" th:action="@{/front/search/keywords}">
                    	<input id="searchbox" name="keywords" type="text" placeholder="请输入商品名称/品牌名称/类目名称">
                    	<!-- <input id="searchbutton" type="button" value="搜索"> -->
                    	<button id="searchbutton"><span class="icon iconfont">&#xe630;</span></button>
                    </form>
                </div>
                <div class="hotSearch">热门搜索：<!-- <span class="red">抄底价格</span><span>抄底价格</span><span>抄底价格</span><span>抄底价格</span> --></div>
            </div>
            <div id="myCart" class="quick quickRight">
                <!-- <div class="cart"><span class="iconfont">&#xe60b;</span> 我的购物车</div> -->
                <a th:href="@{/front/personalcenter/cart}" target="_blank">
               		<div class="cart">
               			<span class="iconfont">&#xe60b;</span>我的购物车
               		</div>
               	</a>
                <div class="popover bottom dropdownCart">
                    <div class="popMask"></div>                    
                    <h3 class="popover-title">
						最新加入的商品<span>共<span id="itemNum">X</span>件</span>
					</h3>
					<!-- quick cart item table -->
                    <div class="popover-content" id="popover-content">          
                    </div>
                    <div class="popover-footer">
                        <p>共计：<span id="cartItemTotalPrice">X</span>元</p>
                        
                        <button class="btn btn-sm" id="btnCart">购物车</button>
                    </div>
                </div>
            </div>
            <div class="quick">
                <!-- <div class="cart"><span class="iconfont">&#xe639;</span> 我的收藏</div> -->
                <a th:href="@{/front/personalcenter/favourites}" target="_blank"><div class="cart"><span class="iconfont">&#xe639;</span>我的收藏</div></a>
            </div>
            <!-- <div class="quick">
                <div class="cart"><span class="iconfont">&#xe606;</span> 点击登录</div>
            </div> -->
        </div>
        <div id="sort">
            <div class="main-sort">
                <div class="all-sort">
                    <a href="#">全部商品分类</a>
                    <div id="classification-index" class="classification" style="display:block">
                        <!-- 一级类目 -->
                        <div th:each="level1 : ${categoryList}" class="firstClass">
                            <h3>
                            	<!-- <a th:href="@{/front/search/category/{categoryId}(categoryId=${level1.category.cid})}" target="_blank"><span th:text="${level1.category.cName}" th:remove="tag">3C外设</span></a><span>&gt;</span></h3> -->
                            	<span th:text="${level1.category.cName}" th:remove="tag">3C外设</span><span>&gt;</span></h3>
                        </div>
                        
                    </div>
                    <!-- detail list start-->
                    <div id="details" class="details">
                        <div th:each="level1,iter1 : ${categoryList}" class="item-sub" th:attr="id='classList'+${iter1.index}">
                            <div class="subitem">
                                <dl th:each="level2,iter2 : ${level1.subCategoryList}" th:attr="class='force'+${iter2.count}">
                                    <dt>
                                        <a th:href="@{/front/search/category/{categoryId}(categoryId=${level2.category.cid})}" target="_blank">
                                        	<span th:text="${level2.category.cName}" th:remove="tag">电视</span>
                                        	<i>></i>
                                    	</a>
                                    	
                                    </dt>
                                    <dd>
                                        <a th:each="level3 : ${level2.subCategoryList}" th:href="@{/front/search/category/{categoryId}(categoryId=${level3.category.cid})}" target="_blank"><span th:text="${level3.category.cName}" th:remove="tag">电视</span></a>
                                    </dd>
                                </dl>
                                
                            </div>
                        </div>  <!-- item-sub end -->                    
                    </div>  <!-- detail list end-->
                </div>
                <div class="minor-sort">
                    <ul>
                        <li class="active"><a href="javascript:void(0);">首页推荐</a></li>                        
                        <li th:each="recomment:${recommentList}"><a th:href="@{'/'+${recomment.url}}" target="_blank"><span th:text="${recomment.name}">电脑整机</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- content start  -->
    <div class="container homePage">
        <div class="mainBanner">
            <div id="homeBanner" class="carousel slide" data-ride="carousel" data-interval="5000">
                <!-- Indicators -->
                <ol class="carousel-indicators carousel-img">
                	<span th:each="slide,iter:${slidesShowSettingList}" th:remove="tag">
                		<span th:switch="${iter.index}" th:remove="tag">                		
                			<li th:case="0" data-target="#homeBanner" th:attr="data-slide-to=${iter.index}" class="active"></li>               		
               				<li th:case="*" data-target="#homeBanner" th:attr="data-slide-to=${iter.index}" ></li>
               			</span>
                	</span>
                	<!-- <li th:each="slide,iter:slidesShowSettingList" data-target="#homeBanner" th:attr="data-slide-to:${item}-1" class="active"></li>
                	
                    <li data-target="#homeBanner" data-slide-to="0" class="active"></li>
					<li data-target="#homeBanner" data-slide-to="1"></li>
					<li data-target="#homeBanner" data-slide-to="2"></li>
					<li data-target="#homeBanner" data-slide-to="3"></li> -->
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                
                	<span th:each="slide,iter:${slidesShowSettingList}" th:remove="tag">
                		<span th:switch="${iter.index}" th:remove="tag">
	                		<div th:case="0" class="item active">
	                        	<a th:href="@{'/'+${slide.url}}" target="_blank"><img th:src="${slide.imgUrl}" alt=""> </a>
	                        	<!-- <img class="img-responsive" th:src="${slide.imgUrl}" alt=""> -->	                        	
	                    	</div>	                    	
	                    	<div th:case="*" class="item">
	                        	<a th:href="@{'/'+${slide.url}}"  target="_blank"><img th:src="${slide.imgUrl}" alt=""> </a>
	                        	<!-- <img class="img-responsive" th:src="${slide.imgUrl}" alt=""> -->
	                    	</div>
                    	</span> 
                	</span>
                
                </div>
            </div><!-- /.homeBanner -->
            <div class="newCompany">
                <!-- <div class="companyLogo"></div> -->
                <div class="companyText">
                    <!-- <h5>合作伙伴</h5> -->
                    <!-- <div class="company-img"><img th:src="@{/static/images/cooperation.jpg}"></div> -->
                    <div id="companyScroll" class="companyDetail">
                        <div id="scrollContent">
                        	<ul class="company-list">                        	
	                        	<li th:each="company:${userExtendsList}">
	                        		<div>
	                        			<a href="javascript:void(0);"><span th:text="${company.companyName}">新公司名称</span></a>
	                        		</div>
	                        	</li>
                        	</ul>                     
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="homeAD1">
           <img th:src="@{/static/images/banner-order.jpg}" >
           <!-- <div class="closeAd">X</div> -->
        </div>
      </div>
    
    
    
    <!-- 修改用户口令 -->
    <div id="changePassword" th:replace="thymeleaf/common/change_password_dialog::dialog"></div>
    <!-- 占位图片 不属于header  -->
    <!-- <div>
        <img src="http://via.placeholder.com/1200x330" style="display: block;width: 1200px;margin:0 auto">
    </div> -->
    <!-- 占位图片 不属于header end  -->
    <script type="text/javascript" th:src="@{/static/iconfont/iconfont.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/home/js.js}"></script>
    
    <script type="text/javascript" th:src="@{/static/js/header/change_password.js}"></script>
    
</body>

</html>

    
