<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>产品详情</title>
</head>
<body>
	<div th:fragment="detail">
		<h1>产品详情</h1>
		<table>
			<tr>
				<th>详情内容</th>
				<th>图片地址</th>
				<th>加入购物车</th>
				<th>加入收藏</th>
			</tr>
			<tr th:each="detail : ${detailList}">
				<td th:text="${detail.content}">详情内容</td>
				<td th:text="${detail.imgurl}">产品图片地址显示于此</td>
				<td><a th:href="@{/front/product/addtocart/{productId}(productId=${detail.id})}">加入购物车</a></td>
				<td><a th:href="@{/front/product/addtocollection/{productId}(productId=${detail.id})}">加入收藏</a></td>
			</tr>
			<tr class="odd" th:remove="all">
				<td>Blue Lettuce</td>
				<td>9.55</td>
			</tr>
			<tr th:remove="all">
				<td>Mild Cinnamon</td>
				<td>1.99</td>
			</tr>
		</table>
	</div>
</body>
</html>