<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecp.dao.AdvertiseMapper" >
  <resultMap id="BaseResultMap" type="com.ecp.entity.Advertise" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ad_src" property="adSrc" jdbcType="VARCHAR" />
    <result column="ad_title" property="adTitle" jdbcType="VARCHAR" />
    <result column="ad_type" property="adType" jdbcType="INTEGER" />
    <result column="ad_url" property="adUrl" jdbcType="VARCHAR" />
    <result column="adv_type" property="advType" jdbcType="TINYINT" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="close" property="close" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="sort_num" property="sortNum" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="theme_id" property="themeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, ad_src, ad_title, ad_type, ad_url, adv_type, cid, close, created, end_time, integral, 
    is_delete, modified, sku_id, sort_num, start_time, status, theme_id
  </sql>
</mapper>