<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecp.dao.ApprovedOrdersMapper">
  <resultMap id="BaseResultMap" type="com.ecp.entity.ApprovedOrders">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="after_service" jdbcType="BIT" property="afterService" />
    <result column="approve_status" jdbcType="VARCHAR" property="approveStatus" />
    <result column="approv_time" jdbcType="TIMESTAMP" property="approvTime" />
    <result column="auditorid" jdbcType="BIGINT" property="auditorid" />
    <result column="buyer_id" jdbcType="BIGINT" property="buyerId" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="central_purchasing" jdbcType="TINYINT" property="centralPurchasing" />
    <result column="change_payment_price_time" jdbcType="TIMESTAMP" property="changePaymentPriceTime" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="confirm_receipt_time" jdbcType="TIMESTAMP" property="confirmReceiptTime" />
    <result column="county_id" jdbcType="BIGINT" property="countyId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delay" jdbcType="BIT" property="delay" />
    <result column="delay_over_time" jdbcType="TIMESTAMP" property="delayOverTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="deliver_time" jdbcType="TIMESTAMP" property="deliverTime" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="evaluate" jdbcType="BIT" property="evaluate" />
    <result column="exchange_rate" jdbcType="DECIMAL" property="exchangeRate" />
    <result column="freight" jdbcType="DECIMAL" property="freight" />
    <result column="full_address" jdbcType="VARCHAR" property="fullAddress" />
    <result column="integral" jdbcType="BIGINT" property="integral" />
    <result column="integral_discount" jdbcType="DECIMAL" property="integralDiscount" />
    <result column="invoice" jdbcType="BIT" property="invoice" />
    <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="lock_time" jdbcType="TIMESTAMP" property="lockTime" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="logistics_company" jdbcType="VARCHAR" property="logisticsCompany" />
    <result column="logistics_no" jdbcType="VARCHAR" property="logisticsNo" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="order_finsh_time" jdbcType="TIMESTAMP" property="orderFinshTime" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_jfs_key" jdbcType="VARCHAR" property="orderJfsKey" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="order_type" jdbcType="BIT" property="orderType" />
    <result column="paid" jdbcType="INTEGER" property="paid" />
    <result column="parent_order_id" jdbcType="BIGINT" property="parentOrderId" />
    <result column="pay_period" jdbcType="INTEGER" property="payPeriod" />
    <result column="payment_method" jdbcType="BIT" property="paymentMethod" />
    <result column="payment_price" jdbcType="DECIMAL" property="paymentPrice" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="payment_type" jdbcType="BIT" property="paymentType" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="promo_code" jdbcType="VARCHAR" property="promoCode" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="refund" jdbcType="BIT" property="refund" />
    <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
    <result column="reject_reason" jdbcType="VARCHAR" property="rejectReason" />
    <result column="seller_evaluate" jdbcType="BIT" property="sellerEvaluate" />
    <result column="sell_id" jdbcType="BIGINT" property="sellId" />
    <result column="shipment_type" jdbcType="TINYINT" property="shipmentType" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="total_discount" jdbcType="DECIMAL" property="totalDiscount" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, after_service, approve_status, approv_time, auditorid, buyer_id, cancel_time, 
    central_purchasing, change_payment_price_time, city_id, confirm_receipt_time, county_id, 
    create_time, delay, delay_over_time, delete_time, deleted, deliver_time, detail_address, 
    discount_amount, email, evaluate, exchange_rate, freight, full_address, integral, 
    integral_discount, invoice, invoice_title, lock_time, locked, logistics_company, 
    logistics_no, memo, mobile, name, order_finsh_time, order_id, order_jfs_key, order_time, 
    order_type, paid, parent_order_id, pay_period, payment_method, payment_price, payment_time, 
    payment_type, phone, promo_code, province_id, refund, refund_time, reject_reason, 
    seller_evaluate, sell_id, shipment_type, state, total_discount, total_price, update_time, 
    yn
  </sql>
</mapper>