<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecp.dao.AttributeValueMapper" >
  <resultMap id="BaseResultMap" type="com.ecp.entity.AttributeValue" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="value_id" property="valueId" jdbcType="BIGINT" />
    <result column="attr_id" property="attrId" jdbcType="BIGINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="index_key" property="indexKey" jdbcType="VARCHAR" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="value_name" property="valueName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    value_id, attr_id, created, index_key, modified, status, value_name
  </sql>
  
  <!-- 根据map中的条件查询属性值 -->
  <select id="selectByCondition" parameterType="map" resultType="map">
  	SELECT 
  		* 
  	FROM 
  		item_attribute_value 
  	WHERE 
  		attr_id=#{attrId}
  </select>
  
  
  
  
</mapper>