<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecp.dao.InventoryOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.ecp.entity.InventoryOperationLog">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="inventory_change" jdbcType="INTEGER" property="inventoryChange" />
    <result column="occupied_inventory_change" jdbcType="INTEGER" property="occupiedInventoryChange" />
    <result column="operate_key" jdbcType="BIGINT" property="operateKey" />
    <result column="operate_type" jdbcType="TINYINT" property="operateType" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, created, description, inventory_change, occupied_inventory_change, operate_key, 
    operate_type, operator, sku_id, deleted
  </sql>
</mapper>