<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecp.dao.ItemMapper">
  <resultMap id="BaseResultMap" type="com.ecp.entity.Item">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="ad" jdbcType="VARCHAR" property="ad" />
    <result column="attr_sale" jdbcType="VARCHAR" property="attrSale" />
    <result column="attributes" jdbcType="VARCHAR" property="attributes" />
    <result column="brand" jdbcType="BIGINT" property="brand" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="delisting_time" jdbcType="TIMESTAMP" property="delistingTime" />
    <result column="guide_price" jdbcType="DECIMAL" property="guidePrice" />
    <result column="has_price" jdbcType="INTEGER" property="hasPrice" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_status" jdbcType="INTEGER" property="itemStatus" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="listting_time" jdbcType="TIMESTAMP" property="listtingTime" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="market_price2" jdbcType="DECIMAL" property="marketPrice2" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="operator" jdbcType="INTEGER" property="operator" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="packing_list" jdbcType="VARCHAR" property="packingList" />
    <result column="plat_link_status" jdbcType="INTEGER" property="platLinkStatus" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="status_change_reason" jdbcType="VARCHAR" property="statusChangeReason" />
    <result column="timing_listing" jdbcType="TIMESTAMP" property="timingListing" />
    <result column="volume" jdbcType="DECIMAL" property="volume" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="weight_unit" jdbcType="VARCHAR" property="weightUnit" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="model" jdbcType="VARCHAR" property="model" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ecp.entity.Item">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="describe_url" jdbcType="LONGVARCHAR" property="describeUrl" />
    <result column="after_service" jdbcType="LONGVARCHAR" property="afterService" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    item_id, ad, after_service, attr_sale, attributes, brand, cid, created, delisting_time, 
    guide_price, has_price, inventory, item_name, item_status, keywords, listting_time, 
    market_price, market_price2, modified, operator, origin, packing_list, plat_link_status, 
    product_id, status_change_reason, timing_listing, volume, weight, weight_unit, deleted, 
    model
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    describe_url, after_service
  </sql>

	<!-- 通过品牌及类目属性查询 -->
	<select id="getItemByBrandAndAttr" resultMap="BaseResultMap">
		select * from item 
		<where>
			cid=#{cid}			
			<if test="itemStatus!=0">
				AND item_status=#{itemStatus} AND deleted=1 
			</if>
			<if test="brands!=null">
				AND brand IN
				<foreach close=")" collection="brands" index="index" item="item" open="(" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="attrValPairs!=null">
				AND
				<foreach close=")" collection="attrValPairs" index="index" item="item" open="(" separator=" and ">
					find_in_set(#{item},attributes)
				</foreach>
			</if>
		</where>
		
		ORDER BY cid,brand,market_price
	</select>

	<!-- 通过品牌及类目属性查询 -->
	<select id="getItemByBrandAndCid" resultMap="BaseResultMap">
		select * from item
		<where>
			<if test="itemStatus!=0">
				item_status=#{itemStatus} AND deleted=1
			</if>
			<if test="brands!=null">
				AND brand IN
				<foreach close=")" collection="brands" index="index" item="brand" open="(" separator=",">
					#{brand}
				</foreach>
			</if>
			<if test="cids!=null">
				AND cid IN
				<foreach close=")" collection="cids" index="index" item="cid" open="(" separator=",">
					#{cid}
				</foreach>
			</if>
		</where>
		
		ORDER BY cid,brand,market_price
	</select>

	<!-- 通过关键字查询 查询字段：SPU关键字，SPU名称 -->
	<select id="getItemByKeywords" resultMap="BaseResultMap">
		select * from item
		<where>
			(
			<foreach close=")" collection="keywords" index="index" item="keyword" open="(" separator=" or ">
				item_name like
				CONCAT('%',#{keyword},'%' )
			</foreach>
			<if test="keywords!=null">
				OR
				<foreach close=")" collection="keywords" index="index" item="keyword" open="(" separator=" or ">
					keywords like
					CONCAT('%',#{keyword},'%' )
				</foreach>
			</if>
			)
			<if test="itemStatus!=0">
				AND item_status=#{itemStatus} AND deleted=1
			</if>
		</where>
		ORDER BY cid,brand,market_price
	</select>

	<!-- 通过关键字查询 查询字段：SPU关键字，SPU名称；品牌；类目 -->
	<select id="getItemByKeywordsAndBrandAndCid" resultMap="BaseResultMap">
		select * from item
		<where>
			(
			<if test="keywords!=null">
				(
				<foreach close=")" collection="keywords" index="index" item="keyword" open="(" separator=" or ">
					item_name like	CONCAT('%',#{keyword},'%' )
				</foreach>

				OR
				<foreach close=")" collection="keywords" index="index" item="keyword" open="(" separator=" or ">
					keywords like	CONCAT('%',#{keyword},'%' )
				</foreach>
				)
			</if>
			<if test="brands!=null">
				AND brand IN
				<foreach close=")" collection="brands" index="index" item="brand" open="(" separator=",">
					#{brand}
				</foreach>
			</if>
			<if test="cids!=null">
				AND cid IN
				<foreach close=")" collection="cids" index="index" item="cid" open="(" separator=",">
					#{cid}
				</foreach>
			</if>
			)
			<if test="itemStatus!=0">
				AND item_status=#{itemStatus} AND deleted=1
			</if>
		</where>
		ORDER BY cid,brand,market_price
	</select>

	<select id="getItemByBrandIds" resultMap="BaseResultMap">
		select * from item
		<where>
			brand in
			<foreach close=")" collection="ids" index="index" item="id" open="(" separator=" , ">
				#{id}
			</foreach>
			<if test="itemStatus!=0">
				AND item_status=#{itemStatus} AND deleted=1
			</if>
		</where>
		ORDER BY cid,brand,market_price
	</select>

	<!-- 根据条件（map中的参数）查询商品 -->
	<select id="selectItemsByCondition" parameterType="map" resultType="map">
		SELECT 
			i.*, c.c_name, b.brand_name 
		FROM 
			item i 
		LEFT JOIN 
			item_category c 
		ON 
			i.cid=c.cid 
		LEFT JOIN 
			item_brand b 
		ON 
			i.brand=b.brand_id 
		<where>
			<if test="itemStatus!=0">
				i.deleted=1
			</if>			
			<if test="search_keywords!=null and search_keywords!=''">
				AND (
					c.c_name like CONCAT('%',#{search_keywords},'%' )
					or 
					b.brand_name like CONCAT('%',#{search_keywords},'%' )
					or 
					i.item_name like CONCAT('%',#{search_keywords},'%' )
				)
			</if>
			
		</where>
		ORDER BY i.item_id DESC
	</select>

</mapper>