<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecp.dao.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.ecp.entity.Orders" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="after_service" property="afterService" jdbcType="BIT" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="cancel_time" property="cancelTime" jdbcType="TIMESTAMP" />
    <result column="change_payment_price_time" property="changePaymentPriceTime" jdbcType="TIMESTAMP" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="confirm_receipt_time" property="confirmReceiptTime" jdbcType="TIMESTAMP" />
    <result column="county_id" property="countyId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delay" property="delay" jdbcType="BIT" />
    <result column="delay_over_time" property="delayOverTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="deliver_time" property="deliverTime" jdbcType="TIMESTAMP" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="evaluate" property="evaluate" jdbcType="BIT" />
    <result column="exchange_rate" property="exchangeRate" jdbcType="DECIMAL" />
    <result column="freight" property="freight" jdbcType="DECIMAL" />
    <result column="full_address" property="fullAddress" jdbcType="VARCHAR" />
    <result column="integral" property="integral" jdbcType="BIGINT" />
    <result column="integral_discount" property="integralDiscount" jdbcType="DECIMAL" />
    <result column="invoice" property="invoice" jdbcType="BIT" />
    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="lock_time" property="lockTime" jdbcType="TIMESTAMP" />
    <result column="locked" property="locked" jdbcType="BIT" />
    <result column="logistics_company" property="logisticsCompany" jdbcType="VARCHAR" />
    <result column="logistics_no" property="logisticsNo" jdbcType="VARCHAR" />
    <result column="logistics_remark" property="logisticsRemark" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="order_finish_time" property="orderFinishTime" jdbcType="TIMESTAMP" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_jfs_key" property="orderJfsKey" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="order_type" property="orderType" jdbcType="BIT" />
    <result column="paid" property="paid" jdbcType="INTEGER" />
    <result column="parent_order_id" property="parentOrderId" jdbcType="VARCHAR" />
    <result column="pay_period" property="payPeriod" jdbcType="INTEGER" />
    <result column="payment_method" property="paymentMethod" jdbcType="BIT" />
    <result column="payment_price" property="paymentPrice" jdbcType="DECIMAL" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="payment_type" property="paymentType" jdbcType="TINYINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="promo_code" property="promoCode" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="BIGINT" />
    <result column="refund" property="refund" jdbcType="BIT" />
    <result column="refund_time" property="refundTime" jdbcType="TIMESTAMP" />
    <result column="seller_evaluate" property="sellerEvaluate" jdbcType="BIT" />
    <result column="shipment_type" property="shipmentType" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="total_discount" property="totalDiscount" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, after_service, buyer_id, cancel_time, change_payment_price_time, city_id, confirm_receipt_time, 
    county_id, create_time, delay, delay_over_time, delete_time, deleted, deliver_time, 
    detail_address, discount_amount, email, evaluate, exchange_rate, freight, full_address, 
    integral, integral_discount, invoice, invoice_title, lock_time, locked, logistics_company, 
    logistics_no, logistics_remark, memo, mobile, name, order_finish_time, order_id, 
    order_jfs_key, order_time, order_type, paid, parent_order_id, pay_period, payment_method, 
    payment_price, payment_time, payment_type, phone, promo_code, province_id, refund, 
    refund_time, seller_evaluate, shipment_type, state, total_discount, total_price, 
    update_time, yn
  </sql>
</mapper>