<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecp.dao.SkuPriceLogMapper" >
  <resultMap id="BaseResultMap" type="com.ecp.entity.SkuPriceLog" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="sell_price" property="sellPrice" jdbcType="DECIMAL" />
    <result column="sell_stepped" property="sellStepped" jdbcType="VARCHAR" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, area_id, area_name, cost_price, create_time, create_user, description, market_price, 
    sell_price, sell_stepped, sku_id
  </sql>
</mapper>