<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecp.dao.UserAuditLogMapper" >
  <resultMap id="BaseResultMap" type="com.ecp.entity.UserAuditLog" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="audit_diate" property="auditDiate" jdbcType="TIMESTAMP" />
    <result column="audit_id" property="auditId" jdbcType="BIGINT" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
    <result column="deleted_flag" property="deletedFlag" jdbcType="VARCHAR" />
    <result column="last_upd_dt" property="lastUpdDt" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, audit_diate, audit_id, audit_status, create_dt, deleted_flag, last_upd_dt, remark, 
    user_id
  </sql>
</mapper>