<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>增加类目属性</title>


<link th:href="@{/static/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/static/bootstrap/3.3.5/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

<link th:href="@{/static/css/main1.css}" rel="stylesheet" />

<script type="text/javascript"
	th:src="@{/static/jquery/1.11.3/jquery-1.11.3.min.js}"></script>
<script type="text/javascript"
	th:src="@{/static/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h3>增加类目属性</h3>
				<form th:action="@{/back/attr/savecategoryattr}" method="post"  class="form-horizontal" >				
					<input type="hidden" name="cid" id="cid" th:value="${cid}">
					<!-- 属性名称------ -->
					<div class="form-group">
						<label for="inputAttrName" class="col-sm-2 control-label">属性名称</label>
						<div class="col-sm-10">
							<input class="form-control" name="attr_name" id="inputAttrName" type="text" />
						</div>
					</div>					
					
					<!--------- 属性类型   下拉框------ -->
					<div class="form-group">
						<label for="inputAttrType" class="col-sm-2 control-label">属性类型</label>
						<div class="col-sm-10">
							<select name="attr_type" id="inputAttrType" value="1">
								<option value="1">关键属性</option>
								<option value="4">销售属性</option>
								<option value="3">可变属性</option>
								<option value="2">不可变属性</option>
							</select>
						</div>
					</div>

					<!-- 是否必填  单选按钮 -->
					<div class="form-group">
						<label for="inputOptionType" class="col-sm-2 control-label">是否必填</label>
						<div class="col-sm-10">
							<input type="radio" name="option_type" id="one" value="1" checked="checked" /> 
							<label for="one">必填</label>
							<input type="radio" name="option_type" id="two" value="2" />
							<label for="two">非必填</label>
						</div>
					</div>


					<!-- 是否多选  下拉框  -->
					<div class="form-group">
						<label for="inputInputType" class="col-sm-2 control-label">属性类型</label>
						<div class="col-sm-10">
							<select name="input_type" id="inputInputType" value="1">
								<option value="1">单选</option>
								<option value="2">多选</option>
								<option value="3">可输入</option>								
							</select>
						</div>
					</div>

					<!-- 排序号 -->					
					<div class="form-group">
						<label for="inputSortNumber" class="col-sm-2 control-label">排列序号</label>
						<div class="col-sm-10">
							<input class="form-control" name="sort_number" id="inputSortNumber" type="text" />
						</div>
					</div>
					

					<!-- 提交按钮 -->
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">提交</button>
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>

	

</body>
</html>